@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.jejugo {
font-family:'Jeju Gothic', serif;
}

.swal2-container {
z-index:50000!important;
}

.swal2-modal {
z-index:50001!important;
}

html,body,h1,h2,h3,h4,h5,h6 {
font-family:'Titillium Web', 'Nanum Gothic', sans-serif;
}

.thumbnail-wrappper {
width:20%;
}

.thumbnail {
overflow:hidden;
padding-top:100%;
position:relative;
width:150px;
}

.thumbnail .centered {
left:0;
position:absolute;
top:0;
}

.thumbnail .centered img {
height:auto;
left:0;
position:absolute;
top:0;
}

.cbp-af-header {
background:rgba(238,231,231,0.5);
top:3.2%;
}

.upper {
background:rgba(238,231,231,0.5);
height:3.2%;
}

#requestCountAll {
background:#F361A6;
color:#FFF;
font-size:15px;
font-weight:700;
height:25px;
line-height:24px;
margin-bottom:0;
position:absolute;
text-align:center;
text-decoration:none;
top:18px;
width:25px;
z-index:1500000;
}

.recentcomments a {
display:inline!important;
margin:0!important;
padding:0!important;
}

#yang ul li {
display:inline;
font:bold 13px Dotum;
padding:0 10px;
}

ol,ul,li {
margin:0;
padding:0;
vertical-align:baseline;
}

.chanwrapper {
margin:40px auto;
width:85%;
}

div.changallery {
margin-top:30px;
}

div.changallery ul {
list-style-type:none;
margin-left:75px;
}

div.changallery ul li {
float:left;
height:200px;
margin:5px;
padding:5px;
position:relative;
width:200px;
z-index:0;
}

div.changallery ul li:hover {
width:250px;
z-index:5;
}

div.changallery ul li img {
background:#f0f0f0;
border:1px solid #ddd;
height:200px;
left:0;
padding:5px;
position:absolute;
top:0;
width:200px;
}

div.changallery ul li img:hover {
height:250px;
left:65%;
margin-left:-175px;
margin-top:-155px;
top:65%;
width:250px;
}

#menu_nav>a {
color:#1e4147;
}

#header {
border-top:solid #4eb1e4 2px;
height:80px;
position:relative;
width:100%;
}

.wrap {
margin:0 auto;
position:relative;
width:1092px;
}

#plan_title {
color:#363636;
font-size:17px;
font-weight:700;
height:45px;
line-height:26px;
margin-top:14px;
padding:10px 30px 10px 10px;
}

.zeta-menu .mainImg {
border:3px solid #ff545c;
margin-top:20px;
}

.cbp-af-inner>div>img {
float:left;
}

.plan_header {
background:url(../img/testmain1.jpg) repeat-x;
height:550px;
width:100%;
}

.p_header_title {
color:#FFF;
font-family:nanum_b;
font-size:36px;
padding-bottom:30px;
padding-top:30px;
position:relative;
text-align:center;
width:100%;
z-index:1;
}

.cbp-af-header nav a {
margin-right:4%;
font-family: Trebuchet MS;
}

#menu_nav>a:hover {
color:#e83338;
}

video {
height:auto!important;
width:100%!important;
}

.video-js {
padding:0;
position:absolute;
vertical-align:middle;
}

#log-txt {
color:#FFF;
font-size:50px;
text-align:center;
width:100%;
z-index:2000;
}

#footer {
background:#fff;
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:12px;
line-height:1;
margin:0 auto;
padding:100px 0;
position:relative;
width:100%;
z-index:0;
}

#footer>h2 {
color:inherit;
display:block;
font-family:inherit;
font-size:30px;
font-weight:500;
line-height:1.1;
margin-bottom:10px;
margin-top:20px;
}

#footer>div {
display:block;
}

.image>img {
height:310px;
width:310px;
}

.modal-header {
border-bottom:0 solid #e5e5e5;
padding:15px;
}

button.close {
border:15px solid #000;
height:30px;
padding:0;
width:30px;
}

.modal-title {
line-height:1.42857143;
margin:0;
}

.modal-body {
padding:15px;
position:relative;
}

.form-control {
background:#fff;
border:1px solid #ccc;
color:#555;
display:block;
font-size:14px;
height:34px;
line-height:1.42857143;
padding:6px 12px;
width:100%;
}

.modal-footer {
border-top:0 solid #e5e5e5;
padding:15px;
text-align:right;
}

.btn-block {
display:block;
width:100%;
}

.btn-group-lg>.btn,.btn-lg {
font-size:18px;
line-height:1.3333333;
padding:10px 16px;
}

.btn-primary {
background:red;
border-color:#2e6da4;
color:#fff;
}

.btn {
background:#1e4147;
border:1px solid transparent;
color:#FFF;
display:inline-block;
font-size:14px;
font-weight:400;
line-height:1.42857143;
margin-bottom:0;
padding:6px 12px;
text-align:center;
vertical-align:middle;
white-space:nowrap;
}

button,input,select,textarea {
font-family:inherit;
font-size:inherit;
line-height:inherit;
}

#logForm>a:hover {
background:#e83338;
border:1px solid #e83338;
color:#FFF;
}

article {
padding-left:.25%;
padding-top:.5%;
}

.formListLoading div {
left:47%;
margin:0 auto;
position:fixed;
top:50%;
width:100%;
}

#inviteCount {
background:#F361A6;
color:#FFF;
float:left;
font-size:15px;
font-weight:700;
height:30px;
line-height:32px;
margin:0 10px;
position:absolute;
text-align:center;
text-decoration:none;
top:-1px;
width:30px;
z-index:-1;
}

.cycle-overlay {
color:#FFF;
font-family:tahoma, arial;
font-size:x-small;
font-weight:700;
padding:15px;
position:absolute;
width:80%;
}

#wrap {
left:0;
position:relative;
width:100%;
}

#header .header_wrap {
background:rgba(26,21,21,0);
height:80px;
margin:0 auto;
position:relative;
}

#header.open .gnb_wrap {
display:block;
margin:0 auto;
}

#header .gnb_wrap {
background:rgba(0,0,0,0.95);
display:none;
position:relative;
}

.simple_list .date_wrap {
height:100%;
position:absolute;
top:0;
}

.top_visual {
height:600px;
left:0;
position:fixed;
top:0;
width:100%;
z-index:0;
}


.top_visual.reservation .obj {
background:url(../img/reservation_visual.jpg);
}

.top_visual.review_visual .obj {
background:url(../img/rlf.jpg) no-repeat center top;
background-size : 100%;
}

.top_visual.qna_visual .obj {
background:url(../img/145.jpg) no-repeat center top;
background-size : 100%;
}
.top_visual .obj {
height:600px;
margin:0 auto;
position:relative;
}

.page_title {
left:0;
position:absolute;
text-align:center;
top:385px;
width:100%;
}

.page_sub_title {
color:#847469;
font-size:18px;
font-weight:400;
}

html {
font-family:Play, 'Nanum Square';
line-height:1;
}

body {
background:#F0F0F0;
position:relative;
}

h1,h2,h3,h4,h5,h6,th {
font-weight:400;
}

i,em,address {
font-style:normal;
}

caption,legend {
font-size:0;
height:0;
line-height:0;
visibility:hidden;
width:0;
}

#container2 {
margin:0 auto;
position:relative;
z-index:5;
}

#container2.visual_content {
padding-top:400px;
}

#contents {
background:#fff;
margin:0 auto;
padding:50px 0;
}

#container.visual_content {
padding-top:300px;
}

#footer address {
color:#888;
line-height:22px;
padding:18px 10px 0;
}

#footer .btn_sns {
margin-top:18px;
}

#contents.container {
background:#fff;
}

.dsyColor>dl {
color:green;
}

.reviewTitle {
color:#424148;
}

.reviewTitle:hover {
color:#FD8E25;
}

h2 {
color:#6E6E6E;
}

.btn-default:focus,.btn-default:hover {
background:#ff545c;
border:1px solid #ff545c;
color:#FFF;
}

.hero:not (.red-bg ):before {
background:rgba(0,0,0,0.2);
}

i {
color:#13919A;
}

#footer .btn_sns a {
margin:0 3px;
}

footer {
text-align:center;
}

#content {
background:#FFF;
color:#000;
margin:0 auto;
text-align:center;
width:90%;
}

#question {
border:3px solid red;
}

#qwer {
left:140px;
position:relative;
}

#checkImg {
height:35px;
width:35px;
margin-right:5px;
}

h2,h3,h4,h5,h6 {
font-weight:700;
}

#map {
height:400px;
margin:0 auto;
}

.registFormDetail {
background:rgba(255,255,255,0.05);
border:0 solid #000;
margin:0 auto;
padding-bottom:3px;
width:700px;
}

table {
border:0 solid #04B4AE;
margin:0 auto;
width:760px;
}

td {
border-bottom:1px dotted #A4A4A4;
padding-bottom:10px;
padding-top:20px;
}

td div {
color:#13919A;
font-weight:700;
padding-top:0;
}

#detailBar {
float:left;
height:50px;
margin-right:12px;
width:10px;
}

.checkbox-inline, .radio-inline {
padding-left:10px;
}

.cb-module-header {
overflow:hidden;
position:relative;
width:100%;
}

.cb-module-header .cb-module-title {
background:#A4A4A4;
color:#FFF;
display:inline-block;
font-size:20px;
letter-spacing:-.5px;
margin:0;
position:relative;
text-transform:uppercase;
}

.cb-module-header .cb-module-title:after {
background:#A4A4A4;
display:block;
height:1px;
left:100%;
margin-top:-3px;
position:absolute;
top:15%;
width:1920px;
}

#sch_cirNum {
color:#FFF;
background-color: #13919A;
float:left;
font-size:15px;
font-weight:700;
height:27px;
line-height:32px;
margin:0 10px;
text-align:center;
width:27px;
}

.hrs {
border:0;
height:10px;
}

.chattingList {
border-bottom:1px solid #A196A4;
border-left:1px solid #A196A4;
border-right:1px solid #A196A4;
display:inline-block;
padding:5px 10px;
width:400px;
}

.chattingDetail {
border:0 solid #A196A4;
display:inline-block;
padding:5px 10px;
width:400px;
}

.main form {
float:center;
margin:0 auto;
text-align:center;
width:500px;
}

#firstcolum,#bbb {
display:none;
height:0;
width:0;
}

#commentTable {
margin:0 auto;
width:90%;
}

.modal-content {
background:0;
border:1px solid rgba(0,0,0,.2);
position:relative;
}

.regFormAtags,.regFormAtags:hover {
color:#FF7C4E;
}

#header.open .header_wrap,#header.fix .header_wrap {
background:rgba(26,21,21,0.95);
}

#bar {
margin:0 auto;
padding-bottom:80px;
width:60%;
}

.fc-toolbar .fc-left h2 {
color:#13919A;
font-size:21px;
}

.checkbox-inline {
font-size:15px;
margin-bottom:5px;
}

.zeta-menu > a {
color:#000;
text-decoration:none;
}

.zeta-menu > a:hover {
color:green;
font-weight:700;
text-decoration:none;
}

.display-none,.fc-time,.fc-time {
display:none;
}

col-sm-offset-2. col-sm-10 {
margin-left:60%;
width:0;
}

#title_txt>a:hover {
color:#ff545c;
text-decoration:none;
}

.form-inline .form-control,#footer address span,#footer address span {
display:inline;
}

#title_txt > a:hover,#title_txt>a:hover,#title_txt > a:hover,#title_txt>a:hover {
color:#ff545c;
text-decoration:none;
}

#title_txt>a,#title_txt > a,#title_txt>a,#title_txt > a,#title_txt > a,#title_txt>a {
color:#FFF;
}

@media only screen and min-width 499px and max-width 1212px{
.chanwrapper {
font-family:tahoma, arial;
width:1000px;
}
}

@media only screen and max-width 498px{
.chanwrapper {
width:400px;
}

div.changallery ul {
list-style-type:none;
margin:0;
padding:0;
}

.cycle-overlay {
color:#FFF;
font-size:x-small;
font-weight:700;
padding:15px;
position:absolute;
width:80%;
}

.hero:not (.red-bg ):before {
background:rgba(0,0,0,0.2);
}

#contents.container {
background:#fff;
}

#container2 {
margin:0 auto;
position:relative;
z-index:5;
}

#container2.visual_content {
padding-top:400px;
}

#content {
text-align:center;
}

.dsyColor>dl {
color:green;
}

.reviewTitle {
color:#424148;
}

.reviewTitle:hover {
color:#FD8E25;
}
}

@media only screen and min-width 499px and max-width 1212px{
.chanwrapper {
font-family:tahoma, arial;
width:1000px;
}
}

@media only screen and max-width 498px{
.chanwrapper {
width:400px;
}

div.changallery ul {
list-style-type:none;
margin:0;
padding:0;
}
}

label.trip_style {
position: relative;
width: 100%;
font-size:11px;
margin:0px 0px 5px 20px;
}

p.trip_info {
    margin-bottom: 5px;
    font-size: 15px;
}

span.fc-title {
    color: white;
}

.inner-inline img {
    max-width: 100%;
    max-height: 100%;
}

.inner-inline {
    display: inline-block;
    vertical-align: middle;
}

input#searchaddBtn {
    height: 40px;
    border-radius: 6px;
}

span#travelerRegForm {
    color: cadetblue;
}