/***************[ main css (1) ]*********************/

@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.jejugo {
	font-family: 'Jeju Gothic', serif;
}
/* alert 모달 관련 */
.swal2-container {
	z-index: 50000 !important;
}

.swal2-modal {
	z-index: 50001 !important;
}

html, body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Titillium Web', 'Nanum Gothic', sans-serif
}

.thumbnail-wrappper {
	width: 25%;
}

.thumbnail {
	width: 280px;
	position: relative;
	padding-top: 100%; /* 1:1 ratio */
	overflow: hidden;
}

.thumbnail .centered {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	transform: translate(50%, 50%);
}

.thumbnail .centered img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	height: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.btn-default {
	background-image: none;
}

.cbp-af-header {
	top: 3.2%;
	background: rgba(238, 231, 231, 0.5);
}

.upper {
	height: 3.2%;
	background: rgba(238, 231, 231, 0.5);
}

#requestCountAll {
	z-index: 1500000;
	position: absolute;
	right: 46px;
	top: 18px;
	text-decoration: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	color: white;
	background: #F361A6;
	font-size: 15px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
}

#fadeandscale {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

.popup_visible #fadeandscale {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.recentcomments a {
	display: inline !important;
	padding: 0 !important;
	margin: 0 !important;
}

#yang ul li {
	display: inline;
	font: bold 13px;
	padding: 0 10px;
}

ol, ul, li {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

.chanwrapper {
	width: 85%;
	margin: 40px auto;
}

div.changallery {
	margin-top: 30px;
}

div.changallery ul {
	list-style-type: none;
	margin-left: 75px;
}
/* animation */
div.changallery ul li, div.changallery li img {
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

div.changallery ul li {
	position: relative;
	float: left;
	width: 200px;
	height: 200px;
	margin: 5px;
	padding: 5px;
	z-index: 0;
}
/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
div.changallery ul li:hover {
	z-index: 5;
	width: 250px;
}
/* Image is position nicely under li */
div.changallery ul li img {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #dddddd;
	padding: 5px;
	width: 200px;
	height: 200px;
	background: #f0f0f0;
}

div.changallery ul li img:hover {
	width: 250px;
	height: 250px;
	margin-top: -155px;
	margin-left: -175px;
	top: 65%;
	left: 65%;
}

#menu_nav>a {
	color: #1e4147;
}
/* Responsive hack */
@media only screen and (min-width: 499px) and (max-width: 1212px) {
	.chanwrapper {
		width: 1000px;
		font-family: tahoma, arial;
	}
}

@media only screen and (max-width: 498px) {
	.chanwrapper {
		width: 400px;
	}
	div.changallery ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.cycle-overlay {
		background: black;
		color: white;
		padding: 15px;
		opacity: 0.5;
		position: absolute;
		bottom: 5px;
		width: 80%;
		font-weight: bold;
		font-size: x-small;
	}
	.hero:not (.red-bg ):before {
		background: rgba(0, 0, 0, 0.2);
	}
	#contents.container {
		background: #fff
	}
	#container2 {
		position: relative;
		max-width: 1920px;
		margin: 0 auto;
		z-index: 5
	}
	#container2.visual_content {
		padding-top: 400px
	}
	#content {
		text-align: center;
	}
	.dsyColor>dl {
		color: green;
	}
	.reviewTitle {
		color: #424148;
	}
	.reviewTitle:hover {
		color: #FD8E25;
	}
}

/***************[ new main ui css (2) ]*********************/

#header {
	width: 100%;
	height: 64px;
	border-top: solid #4eb1e4 2px;
	position: relative;
	height: 80px;
}

.wrap {
	width: 1092px;
	margin: 0 auto;
	position: relative;
}

#plan_title {
	font-size: 17px;
	color: #363636;
	font-weight: bold;
	margin-top: 14px;
	line-height: 26px;
	height: 45px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	padding-right: 30px;
}

.zeta-menu .mainImg {
	margin-top: 20px;
	border: 3px solid #ff545c;
}

.cbp-af-inner>div>img {
	float: left;
}

.plan_header {
	width: 100%;
	height: 550px;
	background: url('testmain1.jpg') repeat-x;
	background-position: 0px 0px;
}

.p_header_title {
	width: 100%;
	text-align: center;
	color: white;
	font-family: 'nanum_b';
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 36px;
	z-index: 1;
	position: relative;
}

}
.cbp-af-header nav a {
	margin-right: 4%;
}

#menu_nav>a:hover {
	color: #e83338;
}

video {
	width: 100% !important;
	height: auto !important;
}

.video-js {
	background-color: #000;
	position: absolute;
	padding: 0;
	vertical-align: middle;
}

#log-txt {
	color: white;
	font-size: 50px;
	width: 100%;
	text-align: center;
	z-index: 2000;
}

.form-inline .form-control {
	display: inline;
}

#footer {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1;
}

#footer>h2 {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	display: block;
}

#footer>div {
	display: block;
}

.image>img {
	width: 310px;
	height: 310px;
}

/***************[ main css (3) ]*********************/

.modal-content {
	position: relative;
	background-color: 1e4147;
	opacity: 0.9;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .6);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .6);
}

.modal-header {
	min-height: 101.43px;
	padding: 15px;
	border-bottom: 0px solid #e5e5e5;
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 15px solid black;
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.modal-title {
	margin: 0;
	line-height: 1.42857143;
}

.modal-body {
	position: relative;
	padding: 15px;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 0px solid #e5e5e5;
	min-height: 80px;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-group-lg>.btn, .btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}

.btn-primary {
	color: #fff;
	background-color: red;
	border-color: #2e6da4;
}

.btn {
	display: inline-block;
	border: 1px solid #1e4147;
	color: white;
	background-color: #1e4147;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
}

.yang {
	border-radius: 11px;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

#logForm>a:hover {
	background-color: #e83338;
	color: white;
	border: 1px solid #e83338;
}

#title_txt>a {
	color: #1e4147;
}

#title_txt>a:hover {
	text-decoration: none;
	color: #ff545c;
}

article {
	padding-top: 0.5%;
	padding-left: 0.25%;
}

.regFormAtags {
	color: #FF7C4E;
}

.regFormAtags:hover {
	color: #FF7C4E;
}

.formListLoading div {
	position: fixed;
	top: 50%;
	left: 47%;
	width: 100%;
	margin: 0 auto;
}

.display-none {
	display: none;
}