/* header css */
* {
	margin: 0;
}

.animation-header {
	position: fixed;
	width: 100%;
	height: 130px;
	z-index: 4;
	background: #1e4147;
}

.animation-header-menu {
	text-align: center;
	float: left;
	width: 80%;
	margin-left: 5%;
}

.animation-header-menu>div>img {
	width: 55px;
	height: 55px;
	float: left;
	margin-right: 10px;
}

.main-title {
	height: 50%;
	vertical-align: middle;
	float:left;
  margin-bottom: 10px;
}

.main-title img, .main-title h1 {
	vertical-align: middle;
}

.animation-header h1, .animation-header nav {
	float: left;
}

/* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.animation-header h1, .animation-header nav a {
	line-height: 60px;
	display: inline-block;
}

.animation-header h1 {
	font-family: Trebuchet MS;
	text-transform: uppercase;
	color: white;
	letter-spacing: 0.2px;
	font-size: 2.5em;
	float: left;
}

.animation-header nav {
	float: right;
	border: 0px solid black;
}

.animation-header nav a {
	font-family: Trebuchet;
	color: white;
	font-weight: 700;
	font-size: 1.2em;
	margin-right: 10px;
}

/* animation shrink Transitions and class for reduced height */
.animation-header h1, .animation-header nav a {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.animation-header.animation-header-shrink {
		height: 120px;

}

.animation-header.animation-header-shrink h1, .animation-header.animation-header-shrink nav a
	{
	 	line-height: 80px;
}

.animation-header.animation-header-shrink h1 {
	font-size: 2.3em;
}

/* sub menu */
.zeta-menu-bar {
	float:left;
	width: 95%;
}

.zeta-menu li {
	float: right;
	list-style: none;
}

.zeta-menu .mainImg {
	margin-top: 15%;
	margin-right: 20%;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 3px solid white;
}

.zeta-menu .subImg {
	width: 30px;
	height: 30px;
}

.zeta-menu li .expand {
	position: right;
	background: white;
}

.zeta-menu ul a {
	color: grey;
	display: block;
	padding: 10px 20px 10px 20px;
	font-size: 0.7em;
}

.zeta-menu ul {
	z-index: 500000;
	background: white;
	border: 1px solid silver;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: none;
	padding: 0px;
	position: absolute;
	right: 30px;
	top: 120px;
}

.zeta-menu ul li {
	z-index: 500000;
	float: none;
}

.zeta-menu ul li.expand {
	z-index: 500000;
	background: #ddd;
}

.zeta-menu ul li.expand a {
	z-index: 500000;
	color: black;
}

.zeta-menu ul a {
	z-index: 500000;
	color: black;
}

.zeta-menu ul ul {
	z-index: 500000;
	margin: 0 auto;
	top: 0;
}

/* footer CSS */
.footer {
	background-color: white;
}
.footer-content {
	width: 65%;
	margin: 0 auto;
	text-align: center;
}

.footer address {
	font-size: 0.9em;
	color:#888;
	padding:18px 10px 0;
}

.footer .btn_sns {
	margin-top:18px;
}


/*@media query for (max-width: 700px)*/

@media screen and (max-width: 700px) {
	.animation-header h1 {
		font-size: 30px;
	}
	.animation-header-menu>div>img {
		width: 35px;
		height: 35px;
		float: left;
		margin-right: 5px;
	}

	.main-title, .menu_nav {
		display: inline-block;
		float:none;
	}
	.animation-header nav {
		width: 100%;
	}
	.animation-header nav a {
		font-size: 13px;
	}
	.animation-header nav {
		margin-right: 0;
	}
	.animation-header h1, .animation-header nav a {
		line-height: 1;
	}
	
	.animation-header.animation-header-shrink h1 {
	font-size: 1.5em;
	}
	
	.zeta-menu ul  {
		font-size: 12px;
	}
	
	.footer address {
		font-size: 0.7em;
	}
	.footer-content > img {
		width: 60px;
		height: 60px;
	}
}



