/* header css */
* {
	margin: 0;
}

.animation-header {
	position: fixed;
	width: 100%;
  background: #1e4147;
	z-index: 10000;
	overflow: hidden;
}

.animation-header .animation-header-menu {
	max-width: 1200px;
	text-align: center;
	float: left;
}

.animation-header-menu {
		
	  width: 90%;
    max-width: 85em;
    margin-top: 10px;
    padding: 0 1.875em;
	
}

.animation-header-menu > div > img {
    width: 55px;
    height: 55px;
    float: left; 
}

.main-title {
	height: 50%;
	vertical-align: middle;
}

.main-title img, .main-title h1 {
	vertical-align: middle;
}

.animation-header h1, .animation-header nav {
	float: left;
}

/* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.animation-header h1, .animation-header nav a {
	line-height: 60px;
	display: inline-block;
}

.animation-header h1 {
	font-family: Trebuchet MS;
	text-transform: uppercase;
	color: white;
	letter-spacing: 0.2px;
	font-size: 3.5em;
	float: left;
}

.animation-header nav {
	float: right;
	border: 0px solid black;
	margin-right: 10px;
}

.animation-header nav a {
	font-family: Trebuchet;
	color: white;
	font-weight: 700;
	font-size: 19px;
	margin-right: 10px;
	
}

/* animation shrink Transitions and class for reduced height */
.animation-header h1, .animation-header nav a {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.animation-header.animation-header-shrink h1, .animation-header.animation-header-shrink nav a {
/* 	line-height: 100px; */
}

.animation-header.animation-header-shrink h1 {
	font-size: 2.5em;
}

@media screen and (max-width: 600px) {
		.animation-header h1 {
		font-size: 24px;
	}
	
	.animation-header-menu > div > img {
    width: 35px;
    height: 35px;
    float: left;
	}
	
	.main-title, .menu_nav {
	display: inline-block;
	}
	
	.animation-header nav {
		width: 100%;
	}

	.animation-header nav a {
		font-size: 13px;
	}
	.animation-header nav {
	margin-right: 0;
}

.animation-header h1, .animation-header nav a {
    line-height: 1;
}
}


/*
@media screen and (max-width: 55em) {
	.animation-header .animation-header-menu{
		width: 100%;
	}
	.animation-header h1, .animation-header nav {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.animation-header h1, .animation-header nav a {
		line-height: 115px;
	}
	.animation-header nav a {
		margin: 0 10px;
	}
	.animation-header.animation-header-shrink h1, .animation-header.animation-header-shrink nav a {
		line-height: 45px;
	}
	.animation-header.animation-header-shrink h1 {
		font-size: 2em;
	}
	.animation-header.animation-header-shrink nav a {
		font-size: 1em;
	}
}


@media screen and (max-width: 32.25em) {
	.animation-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.animation-header nav a, .animation-header.animation-header-shrink nav a {
		line-height: 1;
	}
}
*/

